@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
   --font-jakarta: var(--font-Jakarta);
   --font-lato: var(--font-lato);
}

@theme static{
    --color-black-500:#222222;
    --color-grey-500: #636363;
    --color-grey-400: #AAAAAA;
    --color-grey-300: #AAAAAA;
    --color-grey-200: #AAAAAA;
    --color-white-500: #fff;

    --color-lime:#CCEF55;
    --color-blue-500: #AFB7FF;
    --color-blue-400: #C7CDFF;
    --color-blue-300: #F7F8FF;
}

body {
  background: var(--background);
  font-family: var(--font-Jakarta);
}
